.footer-parent-box {
  background-color: #05727a;
}
.ageInput {
  margin-bottom: 5%;
  width: 30%;
  font-family: "Poppins", sans-serif;
  color: #252525;
  text-transform: uppercase;
  margin-left: 35%;
  margin-top: -4%;
}

#dashboardProfile {
  margin-top: 125px;
  background-color: none;
}

#profilePicture {
  border-radius: 100%;
  border: 2px solid #05727a;
}

.height {
  width: 55%;
  margin-left: 5%;
}
.weight {
  margin-bottom: 5%;
  width: 30%;
  margin-left: 5%;
}
.activity-level {
  margin-left: 5%;
  width: 85%;
}

.bmiDiet {
  padding: 50px;
  align-items: center;
  background-color: rgb(209, 69, 50);
  border-radius: 20px;
}
.calorie-calculator {
  margin-right: 16%;
  margin-left: 6%;
}

.fullName {
  color: white;
  font-size: 118%;
  font-family: "Poppins", sans-serif;
  width: 560px;
}
.usernameInput {
  color: white;
  font-size: 118%;
  font-family: "Poppins", sans-serif;
}
.emailAddressInput {
  color: white;
  font-size: 118%;
  font-family: "Poppins", sans-serif;
}
.innerCircle {
  height: 390px;
}
.list-group-item {
  background: none;
}
.favoriteCard {
  margin-top: 90px;
  margin-bottom: 50px;
  background-color: rgb(230, 230, 230);
}

.profilePicture {
  width: 200px;
  height: 90%;
  background-color: #004c52;
  margin-left: 22%;
}
.feetInput {
  font-family: "Poppins", sans-serif;
  color: #252525;
  width: 60%;
  text-transform: uppercase;
  margin-left: 40%;
  margin-top: -8%;
  margin-bottom: 8%;
}
.inchesInput {
  font-family: "Poppins", sans-serif;
  color: #252525;
  width: 60%;
  text-transform: uppercase;
  margin-top: -8%;
}

.calorieTitle {
  padding-top: -20px;
}
.card-text-diet {
  width: 225px;
  margin: auto;
}
.personalDietCircle {
  border-radius: 50%;
  width: 395px;
  margin: auto;
  background: rgb(230, 230, 230);
}
.dietCircleTitle {
  margin-top: 45px;
  width: 80%;
  margin-left: 10%;
}

.favoriteMeal {
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.profile-pic-container {
  border-radius: 60%;
  height: auto;
  width: 250px;
  margin: 49px;
  padding-top: 45px;
  margin-right: 206px;
  margin-top: -5px;
}

.profile-pic {
  border-radius: 50%;
  height: auto;
  width: 200px;
  margin-left: 110px;
}
.information-container {
  padding-top: 116px;
}
.gender {
  color: black;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.informationDIV {
  margin-left: 100px !important;
}