@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

body {
  z-index: 0;
  background-color: #e6e6e6;
}

/* Nav Section */
.navbar {
  background-color: #05727a;
}

.NavLogo {
  max-width: 125px;
  height: auto;
  margin-left: 10px;
  align-items: center;
  text-align: center;
}

.dropdown-item {
  color: #000 !important;
  font-family: "Poppins", sans-serif;
}

.dropdown-item:hover {
  background-color: #d14532 !important;
  color: #fff !important;
  font-family: "Poppins", sans-serif;
}

/* Hero Section */

.heroSection {
  background-color: #004c52;
  margin-top: 87px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100vw;
  min-height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.mainHero {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.heroHeadline {
  padding: 25px;
}

.heroImage {
  margin: 25px;
  max-width: 550px;
}

/* Search Page */

.btnSearch {
  background-color: #d14532;
  align-items: center;
  text-align: center;
  border-radius: 0.25rem;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}

.btnSearch:hover {
  background-color: #b91f0b;
  align-items: center;
  text-align: center;
  border-radius: 0.25rem;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}

/* Stats Section */

.StatsImage {
  max-width: 350px;
  margin: 10px;
  height: auto;
  align-items: center;
  vertical-align: middle;
}

.statsText {
  align-items: bottom;
}

.statsGrid {
  padding: 40px;
  text-align: center;
}

/* BMI Section */

.BMISection {
  font-family: "Poppins", sans-serif;
  background-color: #d14532;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 25px;
  padding-right: 25px;
  width: 100vw;
  min-height: 466px;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  display: flex;
}

.mainBMI {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.input {
    font-family: "Poppins", sans-serif;
}

.BMIinput {
    text-align: center;
    min-height: 30px;
    width: 100%;
    margin-bottom: 5px;
    font-size: 1.20rem;
    color:#000;
    font-family: "Poppins", sans-serif;
}

.BMIresult {
    min-width: 100px;
    color: #000;
    border-radius: 10px;
    font-size: 3rem;
    font-weight: 700;
    align-items: center;
    align-content: center;
    font-family: "Poppins", sans-serif;
}

/* Recipe Section */

.BMRSection {
  font-family: "Poppins", sans-serif;
  background-color: #d14532;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 25px;
  padding-right: 25px;
  width: 100vw;
  min-height: 466px;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  display: flex;
}

.RecipeSection {
  padding-top: 100px;
  padding-bottom: 100px;
}

.card-img {
  filter: brightness(30%);
}

.card {
  margin: 10px;
  border: none;
}

h5.card-title {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
}

h5.card-title:hover {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  z-index: 1;
}

.cardOrange {
  background-color: #d14532;
}

.fillImage {
  display: flex;
  justify-content: center;
  align-items: top;
  overflow: hidden;
}

.fillImage img {
  object-fit: cover;
  min-height:400px;
  width: 100%;
}

.btn-orange {
  font-family: "Poppins", sans-serif;
  background-color: #d14532;
  color: #fff;
}

.btn-orange:hover {
  font-family: "Poppins", sans-serif;
  background-color: #b91f0b;
  color: #fff;
}

.btn-access {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #05727a;
  margin: 10px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: #252525;
  margin-top: 30px;
  text-transform: uppercase;
  line-height: 2rem;
  font-weight: 700;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #252525;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #252525;
  margin-top: 100px;
}

.characterTitle {
  font-family: "Poppins", sans-serif;
  margin-top: 25px !important;
  color: #252525;
}

.fa {
  align-self: center;
  padding: 15px;
}

hr {
  border: 2px solid #fff;
  border-radius: 25px;
}

.cardShape {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 30px !important;
}

.shapeImageTop {
  width: 350;
  height: auto;
  background-size: cover;
}

.card-img-top {
  width: 350;
  height: auto;
  margin-top: 10px;
  background-size: cover;
}

.cardShapeSingle {
  background-color: #fff;
  border-radius: 5px;
}

.shapeImageTopSingle {
  width: 320px;
  height: 300px;
  object-fit: cover;
  object-position: 20% 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  margin:20px;
  border-radius: 10px;

}

h5.singleRecipeTitle {
  font-family: "Poppins", sans-serif;
  color:#000;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 10px;
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #252525;
}

.card-body {
  font-family: "Poppins", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 30px !important;
  color: #252525;
}

.card-text {
  font-family: "Poppins", sans-serif;
  line-height: 1rem;
  text-overflow: ellipsis;
  white-space: wrap;
  color: #252525;
}

/* Footer Section */

.footerContainer {
  text-align: center;
  background-color: #05727a;
  height: 60px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.footerLegal {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.footerLegal > a {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.btn-outline-orange {
  background-color: #fff !important;
  color: #d14532 !important;
  border: 2px solid #d14532;
}

.btn-outline-orange:hover {
  background-color: #d14532 !important;
  color: #ffff !important;
  border: 2px solid #d14532;
}

/* Welcome Page */

.heroWelcome {
  display: flex;
  background-color: #004c52;
  width: 100vw;
  position: relative;
  align-items: center;
}

div#welcomePage {
  min-height: 100vh;
  min-width: 100%;
  background-color: #004c52;
}

.introBTN {
  margin-top: 25px;
}

/* Recipe Details */

.recipeDetails {
  margin-top: 50px;
  height: 100vh;
  align-items: center;
}
