/* Sign Up Form */

.form-control{
    margin-right: 8px;
    margin-top: 10px;
}
.form-user{
    display: flex;
    justify-content: center;
}
.heroHeadline{
    margin-top: 50px;
}
.btn-primary{
    width: 275px;
    height: 50px;
    background-color: #D14532;
    margin: 10px;
}
.question-title{
    color: white;
}
.form-user2{
    display: inline;
}
.question-title{
    margin-top: 10px;
    text-align: center;
}
.text-center m-2{
    padding-bottom: 10px;
}
#DropdownDiet{
    width: 600px;
    height: 50px;
    background-color: #D14532;
}
#Signupbtn2{
    margin-left: 35px;
    background-color: #05727A;
}
#dietdropDown{
    background-color:#d8d8d88a;
}
.dropdown-item{
    color: white;
}
.Signup-div{
    width: 400px;
    heigh: 400px;
    background-color: #d8d8d88a;
    margin: auto;
}
.TitleGoals{
    color: white;
    padding-top: 5px;
}
.Goaltitle{
    color: white;
}
.Agequestion{
    color: white;
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
}
.Ageinput{
    width: 350px;
    margin-left: 110px;
}
#Signupbtn3{
    margin-left: 90px;
}
.SignupFormbtn {
    margin-top: 20px;
    text-align: center;
}
#Signupformbtn2{
    margin-top: 20px;
    margin-left: 110px;
}
#Signupbtn3{
    margin-top: 20px;
    margin-left: 109px;
}
#emailsignup{
    margin-top: 20px;
}
.UserinfoPassword{
    display: flex;
    margin-top: 15px;
}
.SignupForm{
    margin-top: 15px;
}
.weight-title{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
}
.CalcTitle{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
}

.btnweight{
    display: flex;
    margin: 10px;
    width: 130px;
    height: 40px;
    background-color: #8080807d;
    border-radius: 40px;
    border: none;
    color: white;
}
.btnactivity{
    margin: 10px;
    width: 130px;
    height: 40px;
    background-color: #8080807d;
    border-radius: 40px;
    border: none;
    color: white;
}
.weightgoalbuttons{
    text-align: center;
}
.gender-title{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
}
#Questionbuttons1{
    margin-right: 30px;
}
.form-check-label{
    color: white;
}
.dietcheckboxes{
    text-align: center;
}

.BMItitle{
    margin-top: 20px;
}
.BMIinfo{
    color: white;
    font-weight: 700;
}
.BMIactivity{
    color: white;
    font-weight: 700;
    margin-top: 20px;
}
.feet{
    width: 80px;
    height: 30px;
    margin: 5px;
}
.WeightBMI{
    width: 80px;
    height: 30px;
    margin: 5px;
    text-align: center;
}
.inch{
    width: 80px;
    height: 30px;
    margin: 5px;
}
.weight{
    width: 80px;
    height: 30px;
    margin: 5px;
}
.age{
    width: 80px;
    height: 30px;
    margin: 5px;
}
.containerBMI{
    display: inline-flex;
}
.BMInumberbox{
    height: 80px;
    background-color: #D14532;
    padding-top:4px;
    border-radius: 20px;
    border: 2px solid white;
}
.BMInumber{
    text-align: center;
    color: white;
    font-weight: 700;
    margin-top: 20px;
}
.Tableh3{
    margin-top: 20px;
    color: white;
    border: 1px solid white;
    padding: 3px;
    text-align: center;
}
.lefttablep{
    color: white;
    border: 1px solid white;
    padding: 3px;
}
.Righttablep{
    color: white;
    border: 1px solid white;
    padding: 3px;
    padding-right: 165px;
    }

.containerBMI{
    margin-left: 500px
}
.tablep{
    display: flex;
}
.ImageRight{
    margin-left: 20px;
    width: 550px;
    height: auto;
    margin-top: 100px;
}
.CaloriesP{
    text-align: center;
    color: white;
    font-weight: 700;
}
.BMIweight{
    text-align: center;
}